.background-sec {
  width: 100%;
}
.main-background {
  margin-top: 20px;
  width: 100%;
  height: auto;

  /* position: absolute; */
  /* right: 10px; */
}
.header {
  position: relative;
}
.heading {
  margin-left: 30px;
  margin-top: 60px;
  font-size: 60px;
  font-weight: 300;
}

.home-sec .get-started-btn {
  width: 230px;
  font-size: 25px;
  background-color: #6c63ff;
  border: 0;
  border-radius: 12px;
  color: #f0f0ff;
  padding: 6px;
  box-shadow: 0px 1px 2px #c6c6c6;
  position: absolute;
  left: 30px;
  top: 390px;
}
.home-sec .get-started-btn:hover {
  background-color: #574dff;
}

@media only screen and (max-width: 1128px) {
  .home-sec .get-started-btn {
    top: 450px;
  }
}
@media only screen and (max-width: 991px) {
  .background-sec {
    text-align: center;
  }
  .main-background {
    width: 80%;
    height: auto;

    /* position: absolute; */
    /* right: 10px; */
  }
  .heading {
    font-size: 45px;
    font-weight: 300;
    margin-top: 0px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .home-sec .get-started-btn {
    position: initial;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
}
